    body {
    background-color:#777;
    }

    .box {
        width: 20%;
        border: 1px green;
        background-color #777;
    }

    #header {
    width: 60%;
    height: 25%;
    float: center;
    margin: 20px;
    padding: 15px;
    background-color: #D3D3D3;
}
    #nav {
    width: 60%;
    height: 25%;
    float: center;
    margin: 20px;
    padding: 15px;
    background-color: #D3D3D3;
}
    #section {
    width: 25%;
    height: 25%;
    float: left;
    margin: 5px;
    padding: 50px;
    background-color: #D3D3D3;

}    

    #aside {
    width: 25%;
    height: 25%;
    float: left;
    margin: 5px;
    padding: 50px;
    background-color: #D3D3D3;

}

    #footer {
    width: 60%;
    height: 25%;
    clear: both;
    margin: 20px;
    padding: 15px;
    background-color: #D3D3D3;
}